
<!doctype html>
<html>
    <style>
        {% block styles %}
            hr{
    
                
            }
            h1{
                text-align: center;
                font-size: 100px;
            }
        {% endblock styles %}
        </style>
    <body>
        {% extends "template_inherit.html" %}
        {% block content %}
        <hr>
        <h1>Internal Error  -  500</h1>
        {% endblock content %}
    </body>

    <script>
        {% with message = get_flashed_messages() %}
          {% if message %}
            var message='{{message}}';
            message=message.replace('[&#39;','').replace('&#39;]','');
            alert(message);
          {% endif %}
        {% endwith %}        
    </script>

</html>